    <!-- Navbar -->
    <nav class="p-4 bg-white shadow-md rounded-md m-2">
        <div class="container mx-auto flex justify-between items-center">

            <!-- Logo -->
            <a href="#" class="text-black text-3xl font-bold">!Auth!</a>

            <!-- Links in the middle -->
            <div class="space-x-4 flex-grow text-center text-2xl">
                <a href="#" class="text-black">Home</a>
                <a href="#" class="text-black">About</a>
                <a href="#" class="text-black">Contact</a>
            </div>

            <!-- Profile button linking to a profile page -->
            <a href="/profile/{{username}}" class="flex items-center space-x-1 text-white text-2xl p-2 rounded-md bg-blue-600
            transition duration-300 ease-in-out hover:bg-fuchsia-700">
                <!-- <span>Hello, User!</span> -->
                {{!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg> --}}
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>

                <span>Profile</span>
            </a>
            <!-- Logout button -->
            <a href="/logout" class="flex items-center space-x-1 text-white text-2xl p-2 rounded-md bg-red-600
                transition duration-300 ease-in-out hover:bg-red-700 ml-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                </svg>

                <span>Logout</span>
            </a>

        </div>
    </nav>