<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body {
            background: linear-gradient(to right, #4A00E0, #8E2DE2, #00C9FF, #92FE9D);
        }
    </style>
</head>
<body class="flex items-center justify-center h-screen">
    {{{body}}}
</body>
</html>
