<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>sdfdsf</title>
</head>
<body>
        <div class="container mx-auto mt-8">
        <h1 class="text-6xl font-bold mb-4">Welcome to Express with Tailwind CSS</h1>
        <p class="text-blue-700">This is a simple example.</p>
    </div>
</body>
</html>
    {{!-- <div class="container mx-auto mt-8">
        <h1 class="text-6xl font-bold mb-4">Welcome to Express with Tailwind CSS</h1>
        <p class="text-blue-700">This is a simple example.</p>
    </div> --}}
